<%- include("./partials/header")%>
<!--Main Page-->
<div class="container">
  <div class="card mb-3" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="<%=movie.Poster%>" alt="Poster">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%=movie.Title%></h5>
          <p class="card-text"><%=movie.Plot%></p>
          <style> .btn-primary{margin-bottom: 1em;} </style>
          <a href="/result/<%=movie["imdbID"]%>/ratings" class="btn btn-primary">Ratings Page</a>
          <p class="card-text">Year- <%=movie.Year%></p>
          <p class="card-text">Actors: <%=movie.Actors%></p>
          <p class="card-text">Box Office: <%=movie.BoxOffice%></p>
          <p class="card-text">Released: <%=movie.Released%></p>
          <p class="card-text">Runtime: <%=movie.Runtime%></p>
          <p class="card-text">Genre: <%=movie.Genre%></p>
          <p class="card-text">Director: <%=movie.Director%></p>
          <p class="card-text">Writers: <%=movie.Writer%></p>
          <p class="card-text">Language: <%=movie.Language%></p>
          <p class="card-text">Country: <%=movie.Country%></p>
          <p class="card-text">Awards: <%=movie.Awards%></p>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("./partials/footer")%>
